* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #1b2838;
}

.formulario {
  text-align: center;
  margin-top: 20px;
  border: #090c109b;
  padding: 20px;
  margin: 20px;
  background-color: #090c109b;
  border-radius: 5px;
}
.formulario form {
  display: grid;
  padding: 5px;
}
.formulario form label {
  color: #c9c4c4;
  font-family: Tahoma, Arial, Verdana;
  margin: 5px;
}
.formulario form input {
  text-align: center;
  color: black;
  border-radius: 5px;
  padding: 10px;
}
.formulario form button {
  background-color: green;
  width: 200px;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  margin-top: 15px;
}

h2 {
  color: #c9c4c4;
  font-family: Tahoma, Arial, Verdana;
  text-align: center;
  font-size: 22px;
  margin: 10px;
}

.container {
  width: 280px;
  margin: auto;
  box-sizing: border-box;
}

.img-erro {
  width: 70%;
}

.center {
  text-align: center;
}

.header {
  background-image: linear-gradient(to bottom, #1b2838, #4e697d);
  top: 0%;
}
.header .header-logo {
  text-decoration: none;
}
.header .header-logo .logo-img {
  padding: 20px;
}
.header .header-menu {
  float: left;
  padding: 15px;
  color: #c9c4c4;
  font-size: 30px;
}
.header .nav-header {
  display: none;
}
.header .nav-header ul {
  padding: 10px;
}
.header .nav-header ul li {
  list-style: none;
}
.header .nav-header ul li a {
  text-decoration: none;
  color: #c9c4c4;
  font-family: Tahoma, Arial, Verdana;
  font-size: 20px;
}
.header .nav-header ul li a i {
  font-size: 16px;
}

.opn {
  float: right;
  margin: 20px;
  background-color: green;
  padding: 5px;
  border-radius: 5px;
}
.opn li {
  list-style: none;
}
.opn li a {
  text-decoration: none;
  color: rgba(190, 250, 100, 0.953);
  font-size: 15px;
  font-family: Tahoma, Arial, Verdana;
}
.opn li a:hover {
  color: #c9c4c4;
  transition: 300ms;
}

.show {
  display: block !important;
}

.cnt {
  background-color: #4e697d;
  margin: 10px;
  border-radius: 10px;
  padding: 5px;
  box-shadow: 0 0 10 5px black;
}
.cnt ul {
  list-style: none;
}
.cnt ul li {
  margin: 5px;
  text-align: center;
}
.cnt ul li a {
  text-decoration: none;
  color: #c9c4c4;
}
.cnt ul li a p {
  font: Montserrat;
  font-size: 12px;
  padding: 10px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
  margin-left: 5px;
}
.flex .flex-col {
  background-color: #101822;
  width: 90%;
  border: 1px solid #c9c4c4;
  border-radius: 10px;
  margin-bottom: 10px;
}
.flex .flex-col p {
  font: Montserrat;
  color: #c9c4c4;
  text-align: center;
}
.flex .flex-col img {
  width: 100%;
  border-radius: 10px;
}

.footer {
  text-align: center;
  background-color: #090c10;
  position: absolute;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}
.footer h2 {
  font-family: arial;
  font-size: 15px;
}

@media (min-width: 800px) {
  .img-fundo-moba {
    height: 300px;
    width: 100%;
  }

  .container {
    width: 1000px;
    margin: 30px auto;
  }
  .container .img-erro {
    width: 60%;
  }

  .center {
    text-align: center;
  }

  .header .header-logo {
    text-align: center;
  }

  .nav-header {
    display: block !important;
  }
  .nav-header ul li {
    display: inline-block;
    padding: 10px;
  }
  .nav-header ul li a:hover {
    color: #fefefe;
  }

  .opn {
    margin: 45px;
  }

  .header-menu {
    display: none;
  }

  .cnt ul {
    padding: 10px;
    display: inline-flex;
  }
  .cnt ul li {
    margin: 30px auto;
    width: 350px;
  }
  .cnt ul li a p {
    margin-top: 5px;
    font-size: 17px;
  }
  .cnt ul li a:hover {
    color: rgba(190, 250, 100, 0.953);
    transition: 500ms;
  }

  .flex .flex-col {
    width: 23%;
    margin: 10px;
  }
}

/*# sourceMappingURL=style.css.map */
